@code {

    private RenderFragment RenderErrorMessage() =>
        @<Text>
            Plugin failed to execute.
            <Button
                OnClick="navigation.NavigateToPlugInErrors"
                Type="@ButtonType.Link">
                Details
            </Button>
        </Text>;

}