<Footer Style="text-align: center;">
   <p>
      @ApplicationName - edit pokemon save files.
   </p>
   <p>
      Issues or feedback on <a href="@GitHubRepository" target="_blank">GitHub</a>
   </p>
   <Space>
      <Split>
         <Divider Type="DividerType.Vertical" />
      </Split>
      <ChildContent>
         <SpaceItem>
            <a href="/privacy-policy">Privacy Policy</a>
         </SpaceItem>
         <SpaceItem>
            <a href="/terms-of-use">Terms of Use</a>
         </SpaceItem>
         <SpaceItem>
            <a href="/credits">Credits</a>
         </SpaceItem>
      </ChildContent>
   </Space>
</Footer>

@code {
   
}