<Footer Style="text-align: center;">
   <p>
      PKHeX.Web - edit pokemon save files.
   </p>
   <p>
      Isues or feedback on <a href="https://github.com/arleypadua/PKHeX.CLI" target="_blank">GitHub</a>
   </p>
</Footer>

@code {
    
}
