@page "/credits"

<h1>Credits</h1>

<h2>PKHeX.Core</h2>
<p>This app is built on the foundation of <a href="https://github.com/kwsch/PKHeX" target="_blank">PKHeX.Core</a>. Special thanks to <a href="https://github.com/kwsch" target="_blank">Kurt</a> for maintaining it.</p>

<h2>PokeAPI/sprites</h2>
<p>All image resources are taken from <a href="https://github.com/PokeAPI/sprites" target="_blank">PokeAPI/sprites</a>.</p>

<h2>PKHeX-Plugins</h2>
<p>Special thanks to <a href="https://github.com/santacrab2" target="_blank">santacrab2</a> for maintaining the <a href="https://github.com/santacrab2/PKHeX-Plugins" target="_blank">PKHeX-Plugins</a> fork, which includes the Auto-Legality mode.</p>