@page "/load"
@using PKHeX.Web.Services.Plugins
@layout EmptyLayout
@inject NavigationManager Navigation
@inject GameService GameService
@inject HttpClient HttpClient

<Layout>
    <Content Style="margin: 24px 16px 0; display: flex; justify-content: center">
        <div
            class="site-layout-background"
            style="
                    padding: 24px; 
                    min-height: 360px; 
                    display: flex; 
                    flex-direction: column; 
                    align-items: center; 
                    justify-content: center; 
                    gap: 20px">
            Open a save file
            <LoadGameComponent />
        </div>
    </Content>
    <PkHexFooter />
</Layout>

@code {
    protected override void OnInitialized()
    {
        ToHomeIfLoaded();
    }

#if DEBUG
    [Inject] public required PlugInRegistry PlugInRegistry { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var testData = await HttpClient.GetByteArrayAsync("/data/brilliantdiamond.bin");
        GameService.Load(testData, "savedata.bin");

        var firstPokemon = GameService.Game!.Trainer.Party.Pokemons.First();
        Navigation.NavigateToPokemon(PokemonSource.Party, firstPokemon.UniqueId);
        // Navigation.NavigateToSearchEncounter();
        // Navigation.NavigateToPokemonBox();
        // Navigation.NavigateToPlugIns();
        // Navigation.NavigateToAnalyticsResults();
        // Navigation.NavigateToSave();
        
        // await LoadPlugins();
    }

    private async Task LoadPlugins()
    {
        await PlugInRegistry.RegisterFrom(PlugInSource.DefaultSourceUrl, "/plugins/PKHeX.Web.Plugins.Demo.dll");
    }
#endif

    protected override void OnAfterRender(bool firstRender) => ToHomeIfLoaded();

    private void ToHomeIfLoaded()
    {
        if (GameService.IsLoaded)
        {
            Navigation.NavigateTo("/");
        }
    }

}