@page "/pokemon/{PartyOrBox}/{Pid}"
@using PokemonMetConditions = PKHeX.Web.Components.PokemonMetConditions
@inject NavigationManager Navigation

@if (Pokemon is not null)
{
    <Space Style="width: 100%; gap: 20px;" Class="pokemon_page__heading_extra__grow" Direction="DirectionVHType.Vertical">
        <PageHeader BackIcon="true" Style="max-width: 100%">
            <TitleTemplate>Pokemon</TitleTemplate>

            <PageHeaderExtra>
                <Space Style="width: 100%;" Align="center" Direction="DirectionVHType.Vertical">
                    <PokemonImage
                        Species="@Pokemon.Species"
                        IsShiny="@Pokemon.IsShiny"/>
                </Space>
            </PageHeaderExtra>
        </PageHeader>
        
        <PokemonLegalityBanner @ref="_legalityBanner" Pokemon="Pokemon" />

        <Tabs @bind-ActiveKey="@_activeTab" DefaultActiveKey="Description" Class="tab-scrollable" Animated>
            <TabPane Tab="Description" Key="Description">
                <PokemonDescription Pokemon="Pokemon" OnPokemonChanged="HandlePokemonChange" />
            </TabPane>
            <TabPane Tab="Met Conditions" Key="Met Conditions">
                <PokemonMetConditions Pokemon="Pokemon" OnPokemonChanged="HandlePokemonChange" />
            </TabPane>
            <TabPane Tab="Stats" Key="Stats">
                <h1>Stats</h1>
            </TabPane>
            <TabPane Tab="Moves" Key="Moves">
                <h1>Moves</h1>
            </TabPane>
        </Tabs>
    </Space>
}

@code {
    [Inject] public required GameService GameService { get; set; }

    [Parameter] public required string Pid { get; set; }
    [Parameter] public required string PartyOrBox { get; set; }

    private uint PidNumber => Convert.ToUInt32(Pid);

    private Pokemon? Pokemon =>
        GameService.Game?.Trainer.Party.Pokemons.FirstOrDefault(p => p.PID == PidNumber)
        ?? GameService.Game?.Trainer.PokemonBox.All.FirstOrDefault(p => p.PID == PidNumber);

    private string _activeTab = default!;
    private PokemonLegalityBanner _legalityBanner = default!;

    private const string Party = "party";
    private const string Box = "box";

    void HandlePokemonChange(Pokemon changedPokemon)
    {
        // some changes might change the id of the Pokémon
        if (changedPokemon.PID != PidNumber)
        {
            Navigation.NavigateTo($"/pokemon/{PartyOrBox}/{changedPokemon.PID}");
            return;
        }
        
        _legalityBanner.Refresh();
    }
}

<style>
    .pokemon_page__heading_extra__grow .ant-page-header-heading-extra {
        flex-grow: 1;
    }
</style>