@page "/pokemon-box"
@using PKHeX.Core
@inject NavigationManager Navigate
@inject ClipboardService Clipboard
@inject INotificationService Notification

<PageTitle>Pokemon Box</PageTitle>

<Space Direction="DirectionVHType.Vertical" Style="width: 100%; gap: 20px;">
    <PageHeader BackIcon="true" Style="max-width: 100%">
        <TitleTemplate>Box</TitleTemplate>

        <PageHeaderExtra>
            <DropdownButton
                Type="@ButtonType.Primary"
                OnClick="OnAddItemClick">
                <Overlay>
                    <Menu>
                        <MenuItem>
                            <Button
                                Type="@ButtonType.Link"
                                Icon="@IconType.Outline.Copy"
                                OnClick="HandleExportShowdownClick">
                                Showdown
                            </Button>
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    Add
                </ChildContent>
            </DropdownButton>
        </PageHeaderExtra>
    </PageHeader>

    <PokemonTable DataSource="@PokemonList" Source="PokemonSource.Box"/>

</Space>

@code {
    [Inject] public required GameService GameService { get; set; }

    private IList<Pokemon> PokemonList => GameService.Game?.Trainer.PokemonBox.All
        .Where(p => p.Species != Species.None).ToList() ?? [];

    private Task OnAddItemClick(MouseEventArgs arg)
    {
        Navigate.NavigateToSearchEncounter();
        return Task.CompletedTask;
    }

    private void HandleExportShowdownClick()
    {
        if (PokemonList.Count != 0)
        {
            Clipboard.WriteTextAsync(PokemonList.Showdown());
            _ = Notification.Open(new()
            {
                Message = "Showdown copied to clipboard",
                Description = $"{PokemonList.Count} entries",
                NotificationType = NotificationType.Success,
            });
        }
        else
        {
            _ = Notification.Open(new()
            {
                Message = "No pokemons found in your box",
                NotificationType = NotificationType.Error,
            });
        }
    }

}