@page "/pokemon-box"
@using PKHeX.Core
@inject NavigationManager Navigate

<PageTitle>Pokemon Box</PageTitle>

<Space Direction="DirectionVHType.Vertical" Style="width: 100%; gap: 20px;">
    <PageHeader BackIcon="true" Style="max-width: 100%">
        <TitleTemplate>Box</TitleTemplate>

        <PageHeaderExtra>
            <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" OnClick="OnAddItemClick">Add</Button>
        </PageHeaderExtra>
    </PageHeader>
    
    <PokemonTable DataSource="@PokemonList" Source="PokemonSource.Box"/>

</Space>

@code {
    [Inject] public required GameService GameService { get; set; }

    private IList<Pokemon> PokemonList => GameService.Game?.Trainer.PokemonBox.All
        .Where(p => p.Species != Species.None).ToList() ?? [];

    private Task OnAddItemClick(MouseEventArgs arg)
    {
        Navigate.NavigateToSearchEncounter();
        return Task.CompletedTask;
    }

}