@page "/test"

@* <Button *@
@*     OnClick="EnqueueUpload"> *@
@*     Try upload *@
@* </Button> *@

@code {
    // private Task EnqueueUpload(MouseEventArgs arg)
    // {
    //     var pokemon = GameService.LoadedGame.Trainer.Party.Pokemons.First();
    //     SyncPokemonQueue.Enqueue(pokemon);
    //     return Task.CompletedTask;
    // }
}