<h1>Terms of Use</h1>
<p>Effective Date: 07/08/2024</p>

<h2>1. Introduction</h2>
<p>Welcome to @ApplicationName. By using this web application, you agree to these Terms of Use. If you do not agree to these terms, please do not use the app.</p>

<h2>2. Use of the App</h2>
<p>The app allows you to edit Pokémon game save files and install plugins. You are responsible for your use of the app and for any consequences thereof. We condemn the practice of hacking for competitions or any other use other then the use of your own, so please use the app responsibly.</p>

<h2>3. Plugins</h2>
<p>The app supports the installation of plugins. It is advisable to use plugins from the "Default Source" for security and compatibility reasons. We are not responsible for any third-party plugin use of the data or any issues arising from the use of such plugins.</p>

<h2>4. No Warranty</h2>
<p>The app is provided "as is" without any warranties of any kind. Although we do our best effort to keep it up-to-date and fix arising issues, we do not guarantee that the app will be free from errors, viruses, or other harmful components.</p>

<h2>5. Limitation of Liability</h2>
<p>We are not responsible for any loss or damage that may occur from using the app, including but not limited to game save corruption. It is strongly advised that you keep your own backup of any game save files before using the app.</p>

<h2>6. Changes to the Terms</h2>
<p>We may update these Terms of Use from time to time. You will be notified of any changes, however, you are advised to review this Terms of Use periodically for any changes you may have missed. Changes to these Terms of Use are effective when they are posted on this page.</p>

<h2>7. Contact Us</h2>
<p>If you have any questions about this Privacy Policy, please open an issue on <a href="@GitHubRepositoryIssues" target="_blank">GitHub</a>.</p>