@code
{
    private int _state = 0;

    private void HandleClick()
    {
        _state = _state + 1;
    }

    private RenderFragment RenderPage() =>
        @<div>
            Hello @(_plugin.Manifest.PlugInName)
            
            <button @onclick="HandleClick">
                Increment: @(_state)
            </button>
        </div>;
}