@using PKHeX.Core
@if (Failures.Any())
{
    <Alert Type="@AlertType.Error" Message="Not legal" Closable>
        <ul>
            @foreach (var failure in Failures)
            {
                <li>@failure.Identifier: @failure.Comment</li>
            }
        </ul>
    </Alert>   
}

@code {
    [Parameter] public required Pokemon Pokemon { get; set; }

    private LegalityAnalysis? _analysis;
    private IEnumerable<CheckResult> Failures => _analysis?.Results.Where(r => r.Judgement == Severity.Invalid) ?? [];

    protected override void OnInitialized()
    {
        _analysis = Pokemon.Legality();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _analysis = Pokemon.Legality();
    }

    public void Refresh()
    {
        _analysis = Pokemon.Legality();
    }
}