<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{ title }} | {{ site.title }}</title>

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">

    <link href="{{ site.baseUrl }}css/style.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="favicon.svg"/>
</head>
<body>
<div class="blog-layout">
    <header class="blog-header">
        <a class="logo-link" href="/">PKHeX.Web</a>
    </header>
    <main class="blog-main-layout">
        <div class="site-layout-background blog-main-content">
            {{ content | safe }}
        </div>
    </main>
    <footer class="blog-footer">
        <p>PKHeX.Web - edit pokemon save files.</p>
        <p>Issues or feedback on <a href="https://github.com/arleypadua/PKHeX.Everywhere" target="_blank">GitHub</a></p>
        <div class="blog-footer-links">
            <a href="/privacy-policy">Privacy Policy</a>
            <span class="blog-divider"></span>
            <a href="/terms-of-use">Terms of Use</a>
            <span class="blog-divider"></span>
            <a href="/credits">Credits</a>
            <span class="blog-divider"></span>
            <a href="/release-notes?since=2025-05-01">Release Notes</a>
        </div>
    </footer>
</div>
</body>
</html>
